.todos{
    max-width: 50%;
    text-align: center;
    border: 1px solid;
    padding: 5px;
    margin: 5px;
}

.action{
    cursor: pointer;
}

.action:hover{
    color: cornflowerblue;
}

.sort{
    cursor: pointer;
}

.sort-by-asc
{
    left: 3px;
    display: inline-block;
    width: 0;
    height: 0;
    border: solid 5px transparent;
    margin: 4px 4px 0 3px;
    background: transparent;
    border-bottom: solid 7px #F80;
    border-top-width: 0;
}

.sort-by-desc
{
    left: 3px;
    display: inline-block;
    width: 0;
    height: 0;
    border: solid 5px transparent;
    margin: 4px 4px 0 3px;
    background: transparent;
    border-top: solid 7px #F80;
    border-bottom-width: 0;
}